:root {
  --bg: #F9F1DA;
  --txt: #0D0D06;
  --txt2: #171E29;
  --link: #FF6347;
}

body {
  background-color: var(--bg);
  color: var(--txt);
}


.warning {
  background-color: var(--bg);
  color: var(--txt);
}

.footer-web {
  background-color: var(--bg);
  position: fixed;
  text-align: center;
  bottom: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  width: inherit;
  border-top: 1px solid var(--txt);
}

.footer-phone {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  place-self: center;
  background-color: var(--txt2);
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 25px;
}

.button {
  align-items: center;
  background-color: var(--bg);
  border: 1px solid var(--txt2);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: Verdana;
  font-weight: 400;
  height: 25px;
  justify-content: center;
  min-width: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  transition: all .3s;
  touch-action: manipulation;
}

.button:focus {
  color: #171e29;
}

.button:hover,
.button:active {
  border-color: var(--link);
  color: var(--link);
  fill: var(--link);
}

/* TEXTO */

#logo {
  max-height: 150px;
}

h1 {
  font-family: Georgia;
  font-style: normal;
  font-variant-caps: small-caps;
  font-weight: 500;
  letter-spacing: 0.2rem;
  line-height: 110%;
}

h2 {
  font-family: Georgia;
  font-size: 1.5em;
  font-weight: 200;
  font-style: normal;
  margin: 0;
}

h3 {
  font-family: Georgia;
  font-size: 1.25em;
  font-weight: 200;
  font-style: normal;
  margin: 0;
}

p {
  font-family: Georgia;
  font-size: 1.10em;
  font-style: normal;
  line-height: 200%;
  margin-bottom: 30px;
}

pre {
  font-family: Inconsolata, Consolas, Monaco, Courier, monospace;
  font-size: 1em;
  font-weight: 100;
  margin-top: 40px;
  margin-bottom: 0;
}


ul {
  display: block;
  padding-inline-start: 0px;
  font-family: Verdana;
  font-size: 0.85em;
  line-height: 2.5em;
}

li {
  padding: 5px;
  font-family: Verdana;
  color: var(--txt2);
  text-indent: 1.25em;
}

a {
  font-family: Verdana;
  font-size: 1em;
  text-decoration: none;
  color: var(--txt);
}

a:hover {
  color: var(--link);
}

.tleft {
  text-align: left;
}

.tright {
  text-align: right;
}

/* LISTA */

header ul {
  list-style: none;
}

.collapse ul {
  list-style-type: none;
}

.collapse li {
  line-height: 200%;
}

.toggle {
  padding: 0;
  cursor: pointer;
}

.toggle::before {
  font-size: 1.5em;
  content: "❧";
}

.toggle.show::before {
  font-size: 1.5em;
  content: "❦";
}

.collapse ul {
  display: none;
}

.toggle.show+ul {
  display: block;
}

header ul a:hover {
  color: var(--link);
}

header ul a:active {
  background-color: var(--bg);
}


/* PC */

@media print,
screen and (min-width: 1080px) {

  body {
	  background-image: radial-gradient(#FFAD13 1px, transparent 1px), radial-gradient(#e26444 1px, transparent 1px);
	  background-size: 10px 10px;
	  background-position: 0 0, 5px 5px;
	    background-color: #b7ab9a;
  }


  .wrapper {
    width: 1080px;
    margin: 0 auto;
    margin-top: -10px;  
    height: auto; 
    border-right: 2px solid var(--txt2);      
  }

  header {
    background-color: var(--bg);
    height: 100vh;    
    width: 321px;
    padding: 25px;
    padding-left: 50px;
    padding-top: 80px;
    float: left;
    position: fixed;
    border: 1px solid var(--txt2);    
  }

  .footer-phone {
    display: none;
  }

  .index-web {
    display: block;
  }

  .index-phone {
    display: none;
  }

  section {
    background-color: var(--bg);
    width: 550px;
    padding-left: 80px;
    padding-right: 50px;
    padding-bottom: 60px;
    margin-top:-10px;
    float: right;
    border-left: 2px solid var(--txt2);    
    border-right: 1px solid var(--txt2);
  }

  h1 {
    font-size: 2em;
  }

  .top {
    display: none;
  }

  .warning {
    display: none;
  }
}

/* APARATOS DE MIERDA */

@media print,
screen and (max-width: 1079px) {
  body {
    background-color: var(--bg);    
    padding: 10px;
  }

  .footer-web {
    display: none;
  }

  header {
    background-color: var(--bg);     
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--txt2);
  }

  .flex-container {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 0;
  }

  .button {
    width: 100%;
    font-size: 0.85em;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .index {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.66em;
    font-weight: bold;
    color: var(--bg);
    border: 1px solid var(--bg);
    width: 45px;
    height: 45px;
  }

  .top {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    font-weight: 100;
    color: var(--bg);
    background: var(--txt2);
    width: 50px;
    height: 50px;
  }

  .index-web {
    display: none;
  }

  .index-phone {
    display: block;
    margin-top: 50px;
    margin-bottom: 50vh;
    border-top: 1px solid var(--txt2);
    pre {
    text-align: center;  
    font-weight: bold;
    }
  }

  a {
    width: 50px;
    height: 50px;
    align-content: center;
    text-align: center;
    padding: 0px;
    border: 1px solid var(--bg);
    img {
    height: 40px;
    }
  }

  .warning {
    display: none;
  }
}


/* PANTALLAS FORRAS */

@media print,
screen and (max-width: 359px) {
  section {   
    display: none;
  }

  ul {
    display: none;
  }

  .footer-web {
    display: none;
  }

  .footer-phone {
    display: none;
  }

  header {
    display: none;
  }

  .flex-container {
    display: none;
  }

  .top {
    display: none;
  }

  .index-phone {
    display: none;
  }

  .warning {
    display: flex;
  }

  pre {
    text-wrap: wrap;
    font-family: Inconsolata, Consolas, Monaco, Courier, monospace;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.75em;
  }
}